---
---

@import "{{ site.theme }}";

#main_content_wrap {
    background-image: url(../image/m31_gendler_2700.min.jpg);
    background-size : 100% 100%;
    background-repeat : no-repeat;
    background-position : 100% 100%;
    background-attachment : fixed;
    position: relative;
}

#main_content_wrap:after {
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(5px);
}
